{
  "extends": [
    "airbnb-base",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "jest",
    "prettier",
    "import"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "dist/**/*",
    "jest.config.js"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@app/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "internal"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "max-classes-per-file": "off",
    "no-continue": "off",
    "no-restricted-exports": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": [
          "css"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ]
  }
}
